.contact-table td{
   padding:5px
}



#detail-table {
margin: 0 0 16px;
padding: 0;
border: 0;
border-top: 1px dotted #ddd;
border-right: 1px dotted #ddd;
border-collapse: separate;
border-spacing: 0;
}

#detail-table th{
  padding: 5px 2px 5px 0;
  text-align: right;
  white-space: nowrap;

}

#detail-table td{
  padding: 5px;
text-align: center;

}

#detail-table th, #detail-table td{
  border-bottom: 1px dotted #ddd;
    border-left: 1px dotted #ddd;
    vertical-align: top;
    font-size:13px;
    line-height:16px;
}

.contact-box{
width:100%;
background-color:#076086;
padding:15px;
margin:20px 0px;


}
