.contact-table td{
   padding:5px
}

.header-name {
  margin-left:15px;
  font-weight:bold;
  font-size:2rem;
  font-family:"Kalam";
}

#detail-table {
margin: 0 0 16px;
padding: 0;
border: 0;
border-top: 1px dotted #ddd;
border-right: 1px dotted #ddd;
border-collapse: separate;
border-spacing: 0;
}

#detail-table th{
  padding: 5px 2px 5px 0;
  text-align: right;
  white-space: nowrap;

}

#detail-table td{
  padding: 5px;
text-align: center;

}

#detail-table th, #detail-table td{
  border-bottom: 1px dotted #ddd;
    border-left: 1px dotted #ddd;
    vertical-align: top;
    font-size:13px;
    line-height:16px;
}

.contact-box{
width:100%;
border:5px solid #F1A208 ;
padding:15px;
margin-top:40px;
color:#076086 ;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 5px 5px 5px 0px rgba(113, 76, 4, 0.8);
-moz-box-shadow: 5px 5px 5px 0px rgba(113, 76, 4, 0.8);
box-shadow: 5px 5px 5px 0px rgba(113, 76, 4, 0.8);
text-align:center;

}

footer{
  background-color:#076086;
  text-align:center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color:#E8E8E6;
}

.about h2{
  color:#076086 ;
  font-family: 'Kalam';
}

.contact-box h4{
  font-family: 'Kalam';
  margin-bottom:0;
  font-size:2.2rem;
}

.about {margin-bottom:40px;}

.contact-box h5{
  color:#212529;
  margin-bottom:25px;
}

@media (max-width: 376px){

  .header-name {font-size:1.25rem}
}

@media (min-width: 320px) {
#detail-table {
  margin-top:40px;
}

.about {margin-top:40px;}
 }


@media (min-width: 768px) {
  .contact-box h4{
    font-size:1.7rem;
    margin-bottom:10px;

  }
  .contact-box h5{
    font-size:1.15rem;
  }
  #detail-table {
    margin-top:10px;
  }





}


@media (min-width: 992px) {
    .about h2 {
      text-align:right;
      font-size:2.2rem;
      margin-top:20px;
    }

    .contact-box h4{
      font-size:2rem;
    }
}


@media (min-width: 1200px) {
  .about h2 {
    text-align:right;
    font-size:2.2rem;
    margin-top:-20px;
  }
 }
